:root {
  /* Visual Thinking: Primary Colors:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
  */

  --color-primary: hsl(0, 0%, 100%);
  
  --color-secondary: hsl(0, 0%, 0%);



  --color-saturation-80: 80%;
  --color-saturation-50: 50%;
  --color-saturation-30: 30%;
  --color-saturation-10: 10%;

  --color-lightness-80: 80%;
  --color-lightness-50: 50%;
  --color-lightness-30: 30%;
  --color-lightness-10: 10%;



  --color-tertiary-hue: 240;
  --color-tertiary: hsl((--color-tertiary-hue), var(--color-saturation-80)%, var(--color-lightness-10));
  --color-tertiary-80: hsl(var(--color-tertiary-hue), var(--color-saturation-80), var(--color-lightness-30));
  --color-tertiary-50: hsl(var(--color-tertiary-hue), var(--color-saturation-50), var(--color-lightness-50));
  --color-tertiary-30: hsl(var(--color-tertiary-hue), var(--color-saturation-30), var(--color-lightness-50));
  --color-tertiary-10: hsl(var(--color-tertiary-hue), var(--color-saturation-10), var(--color-lightness-80));

  --color-quaternary-hue: 187;
  --color-quaternary: hsl((--color-quaternary-hue), var(--color-saturation-80)%, var(--color-lightness-10));
  --color-quaternary-80: hsl(var(--color-quaternary-hue), var(--color-saturation-80), var(--color-lightness-30));
  --color-quaternary-50: hsl(var(--color-quaternary-hue), var(--color-saturation-50), var(--color-lightness-50));
  --color-quaternary-30: hsl(var(--color-quaternary-hue), var(--color-saturation-30), var(--color-lightness-50));
  --color-quaternary-10: hsl(var(--color-quaternary-hue), var(--color-saturation-10), var(--color-lightness-80));

  --color-quinary-hue: 41;
  --color-quinary: hsl((--color-quinary-hue), var(--color-saturation-80)%, var(--color-lightness-10));
  --color-quinary-80: hsl(var(--color-quinary-hue), var(--color-saturation-80), var(--color-lightness-30));
  --color-quinary-50: hsl(var(--color-quinary-hue), var(--color-saturation-50), var(--color-lightness-50));
  --color-quinary-30: hsl(var(--color-quinary-hue), var(--color-saturation-30), var(--color-lightness-50));
  --color-quinary-10: hsl(var(--color-quinary-hue), var(--color-saturation-10), var(--color-lightness-80));

  --color-senary-hue: 10;
  --color-senary: hsl((--color-senary-hue), var(--color-saturation-80)%, var(--color-lightness-10));
  --color-senary-80: hsl(var(--color-senary-hue), var(--color-saturation-80), var(--color-lightness-30));
  --color-senary-50: hsl(var(--color-senary-hue), var(--color-saturation-50), var(--color-lightness-50));
  --color-senary-30: hsl(var(--color-senary-hue), var(--color-saturation-30), var(--color-lightness-50));
  --color-senary-10: hsl(var(--color-senary-hue), var(--color-saturation-10), var(--color-lightness-80));

  --color-septenary: hsl(0, 0%, 81%);
  --color-septenary-80: hsl(43, 5%, 74%);
  --color-septenary-50: hsl(30, 6%, 87%);
  --color-septenary-10: hsl(0, 8%, 97%);
  --color-septenary-5: hsl(0, 0%, 98%);


  /* font colors */
  --color-blockquotes:hsl(39, 9%, 35%);
  --font-color: hsl(0, 0%, 0%);


  /* Visual Thinking: Fonts,*/
  --font-family-primary: "rigid-square", sans-serif;
  --font-family-secondary: "yrsa", serif;

  /* fonts */
  font-size: 1.25rem;
  --font-size-secondary: 1.7rem;

  /* screen sizes */
  --screen-dimension-xs: 320px;
  --screen-dimension-s: 768px;
  --screen-dimension-m: 1024px;
  --screen-dimension-l: 1440px;
  --screen-dimension-xl: 2560px;
}

* {
  box-sizing: border-box;
}

/* Body with segments */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100dvh;
  font-family: var(--font-family-secondary);
}

main {
  padding: 0 1rem;
}

/** Typography **/
p {
  font-family: var(--font-family-secondary);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-family-primary);
}

h1 {
  font-size: 3.157rem;
  color: var(--color-tertiary);
}

h2 {
  font-size: 2.369rem;
}

h3 {
  font-size: 1.1rem;
}

/** Hyperlinks + quotes **/
a {
  color: var(--color-quinary);
  text-decoration: none;
  color: var(--color-secondary);
  margin-bottom: 5px;
}

.link {
  text-decoration: underline;
  text-decoration-color:var(--color-tertiary);
}

blockquote {
  font-weight: 800;
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  line-height: 1.5;
  position: relative;
  color: var(--blockquote-colour);
}

blockquote:before {
  left: -5rem;
  top: -3rem;
}

blockquote:after {
  right: -5rem;
  bottom: -0.4rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: var(--color-quinary);
  font-size: 6rem;
  width: 4rem;
  height: 4rem;
  content: "\"";
}

.cite {
  font-family: var(--font-family-secondary);
  color: var(--blockquote-colour);
}

.minicursus-quotes {
  font-weight: 800;
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--blockquote-colour);
}

/* Images with styling */
img {
  max-width: 100%;
}

.rich-text img {
  height: auto;
}

/* Lists */
ul {
  align-self: flex-start;
  scrollbar-width: none;
}

ul::-webkit-scrollbar {
  display: none;
}

/* a11y */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* SVG Icons */
svg.icon {
  margin-right: 0.25rem;
}
svg.icon path {
  fill: var(--color-tertiary);
}
svg.icon path.background {
  fill: var(--color-septenary-50);
}

/* Hexagon styling */
.hexagons p {
  text-align: center;
}

.hexagons h1 {
  max-width: 24rem;
}

.hexagons header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width > 70em) {
  .hexagons p {
    max-width: 12rem;
  }
}
