:root {
  /* Visual Thinking: Primary Colors:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue: hsl(240, 75%, 14%);
  --vtLightBlue: hsl(187, 54%, 61%);
  --vtYellow: hsl(40, 99%, 56%);
  --vtRed: hsl(10, 93%, 64%);
  --vtWhite: hsl(0, 0%, 100%);
  --vtBlack: hsl(0, 0%, 0%);

  /* Visual Thinking: Primary Colors Lichtere versies, ongeveer 80%, 50%, 30% en 10% opacity van de originele kleuren ^
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    */
  --vtDarkBlue-80: hsl(240, 28%, 31%);
  --vtDarkBlue-50: hsl(240, 13%, 48%);
  --vtDarkBlue-30: hsl(240, 13%, 66%);
  --vtDarkBlue-10: hsl(240, 13%, 83%);

  --vtLightBlue-80: hsl(186, 53%, 69%);
  --vtLightBlue-50: hsl(187, 53%, 77%);
  --vtLightBlue-30: hsl(187, 54%, 85%);
  --vtLightBlue-10: hsl(189, 54%, 92%);

  --vtYellow-80: hsl(41, 99%, 65%);
  --vtYellow-50: hsl(41, 99%, 73%);
  --vtYellow-30: hsl(40, 100%, 82%);
  --vtYellow-10: hsl(40, 100%, 91%);

  --vtRed-80: hsl(10, 93%, 71%);
  --vtRed-50: hsl(11, 93%, 78%);
  --vtRed-30: hsl(10, 94%, 86%);
  --vtRed-10: hsl(11, 94%, 93%);

  /* Visual Thinking: Grijstinten:
    Zie kleuren styleguide of eventueel Figma designs voor gebruik!
     Word vaak gebruikt voor backgrounds en borders. 
    */
  --vtGrey: hsl(0, 0%, 81%);
  --vtGrey-80: hsl(43, 5%, 74%);
  --vtGrey-50: hsl(30, 6%, 87%);
  --vtGrey-10: hsl(0, 8%, 97%);
  --vtGrey-5: hsl(0, 0%, 98%);

  /* Visual Thinking: Secondary colors,
    Zie kleuren styleguide of eventueel Figma designs voor gebruik! 
    Word gebruikt als steunkleuren bv: kleurcoderen van categorieën
    */

  --vtSec-Red: hsl(6, 99%, 35%);
  --vtSec-Red-30: hsl(14, 90%, 85%);
  --vtSec-Green: hsl(155, 75%, 34%);
  --vtSec-Green-30: hsl(159, 42%, 57%);
  --vtSec-LightBlue: hsl(184, 49%, 54%);
  --vtSec-DarkBlue: hsl(230, 52%, 40%);
  /* <--- deze kleur is de blauwe balk van de tekenmethodes detailpagina */
  --vtSec-Brown: hsl(25, 100%, 27%);
  --vtSec-Orange: hsl(25, 99%, 51%);


  /* Font colurs */
  --blockquote-colour:hsl(39, 9%, 35%);


  /* Visual Thinking: Fonts,
    */
  --vtPrimaryFont: "rigid-square", sans-serif;
  --vtSecondaryFont: "yrsa", serif;

  /* fonts */
  font-size: 20px;
  --SecFont: 1.7rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--vtSecondaryFont);
}

blockquote {
  font-weight: 800;
  font-family: var(--vtPrimaryFont);
  font-size: 1.2rem;
  line-height: 1.5;
  position: relative;
  color: var(--blockquote-colour);
}

.minicursus-quotes {
  font-weight: 800;
  font-family: var(--vtPrimaryFont);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--blockquote-colour);
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: var(--vtYellow);
  font-size: 6rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -5rem;
  top: -3rem;
}

blockquote:after {
  content: "”";
  right: -5rem;
  bottom: -0.4rem;
}

.cite {
  font-family: var(--vtSecondaryFont);
  color: var(--blockquote-colour);
}

.link {
  text-decoration: underline;
  text-decoration-color:var(--vtDarkBlue);
}

h1,
h2,
h3 {
  font-family: var(--vtPrimaryFont);
}

p {
  font-family: var(--vtSecondaryFont);
  line-height: 1.5;
}

h1 {
  font-size: 3.157rem;
  color: var(--vtDarkBlue);
}

h2 {
  font-size: 2.369rem;
}

h3 {
  font-size: 1.0777rem;
}

a {
  color: var(--vtYellow);
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

ul {
  align-self: flex-start;
  scrollbar-width: none;
}

ul::-webkit-scrollbar {
  display: none;
}

main {
  padding: 0 1rem;
}

/* a11y */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* rich text data styling*/
.rich-text img {
  height: auto;
}

/* svg icons */
svg.icon {
  margin-right: 0.25rem;
}
svg.icon path {
  fill: var(--vtDarkBlue);
}
svg.icon path.background {
  fill: var(--vtGrey-50);
}

/* hexagon stuff (work in progress) */
.hexagons header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hexagons h1 {
  max-width: 24rem;
}
.hexagons p {
  text-align: center;
}

@media (width > 70em) {
  .hexagons p {
    max-width: 12rem;
  }
}
